.iconMenue {
  display: none;
}

@media only screen and (max-width: 600px) {
  .iconMenue {
    display: block;
  }
  .iconMenue:hover {
    color: #a038d4  !important;
  }

  .iconStyle {
    color: red;
    font-size: small !important ;
  }
}
